<section class="section more-projects">
  <div class="container">
    <div class="section-box">
      <div class="">
        <h3 class="section-title fade-up" appFadeUp>{{"OtherProjects.Title" | translate}}
        </h3>
      </div>
      <div class="mt-5">
        <div class="row p-0">
          <div *ngFor='let project of "OtherProjects.Projects" | translate; let i = index'
               class="col-12 col-md-6 col-lg-6 col-xl-4 project-col fade-up" appFadeUp>
            <div class="more-project-box">
              <div class="row w-100 text-left m-0 p-0">
                <div class="col-6 p-0">
                  <img alt="folder" ngSrc='assets/icons/folder.svg' width="40" height="40">
                </div>
                <div class="col-6 d-flex p-0 justify-content-end">
                  <a
                    (click)='analyticsService.sendAnalyticEvent("click_project_demo", "projects", "click")'
                    *ngIf="project['demoLink']"
                    [href]="project['demoLink']" style='color: inherit' target="_blank" aria-label="Demo">
                    <fa-icon [icon]="['fas', 'external-link-alt']" class="ms-3" [id]="'demoLink-' + project.Title"></fa-icon>
                  </a>
                  <a (click)='analyticsService.sendAnalyticEvent("click_project_github", "projects", "click")'
                     *ngIf="project['githubLink']"
                     [href]="project['githubLink']" style='color: inherit' target="_blank" aria-label="GitHub">
                    <fa-icon [icon]="['fab', 'github']" class="ms-3" [id]="'github-' + project.Title"></fa-icon>
                  </a>
                </div>
                <h4 class="other-project-title mt-4">{{project.Title}}</h4>
                <p class="other-project-description">
                  {{project.Description}}
                </p>
              </div>
              <div>
                <ul class="more-projects-skills">
                  <li *ngFor='let technology of project.Technologies'>
                    <span class="underline">{{technology}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
