<footer>
  <div [@animateFooter]="">
    <ul class="footer-left-bar d-none d-md-block">
      <!-- YouTube -->
      <li>
        <a (click)='analyticsService.sendAnalyticEvent("click_youtube", "footer", "youtube")'
           href="https://youtube.com/@10HoursYT" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" role="img"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 16 16">
            <title>YouTube</title>
            <path
              d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22
              1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01
              1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415
              1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309
              0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007
              2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4
              31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007
              2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788
              99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
          </svg>
        </a>
      </li>
      <!-- Instagram -->
      <li>
        <a (click)='analyticsService.sendAnalyticEvent("click_instagram", "footer", "instagram")'
           href="https://instagram.com/mikailcayoglu/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <title>Instagram</title>
            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
          </svg>
        </a>
      </li>
      <!-- GitHub -->
      <li>
        <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")'
           href="https://github.com/Raichuu41" target='_blank'>
          <svg fill="none" role="img" stroke="currentColor" stroke-linecap="round"
               stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <title>GitHub</title>
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0
              20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0
              0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
          </svg>
        </a>
      </li>
      <!-- LinkedIn -->
      <li>
        <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")'
           href="https://linkedin.com/in/mikail-deniz-cayoglu/" target='_blank'>
          <svg fill="none" role="img" stroke="currentColor" stroke-linecap="round"
               stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <title>LinkedIn</title>
            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
            <rect height="12" width="4" x="2" y="9"></rect>
            <circle cx="4" cy="4" r="2"></circle>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer-right-bar d-none d-md-block">
      <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")'
         href="mailto:info@mikail-cayoglu.de" target='_blank'>info&#64;mikail-cayoglu.de</a>
    </div>
  </div>

  <div class="footer-credits text-center">
    <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_mikail", "footer", "click")'
       rel="nofollow" target="_blank" href="https://github.com/Raichuu41/mikail-cayoglu-portfolio">
      <div class="mt-2">Built with Angular 15 by Mikail Cayoglu</div>
    </a>
    <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_brittany", "footer", "click")'
       href="https://github.com/bchiang7/v4" rel="nofollow" target="_blank">
      <div class="mt-2">Design inspired by Brittany Chiang</div>
    </a>
  </div>

  <div class="footer-bottom-bar container position-relative d-block d-md-none">
    <ul class="list-inline d-flex justify-content-center">
      <!-- YouTube -->
      <li class="list-inline-item mx-3">
        <a (click)='analyticsService.sendAnalyticEvent("click_youtube", "footer", "youtube")'
           href="https://youtube.com/@10HoursYT" target="_blank" aria-label="YouTube Profile">
          <svg xmlns="http://www.w3.org/2000/svg" role="img" fill="none" stroke="currentColor"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 16 16">
            <title>YouTube</title>
            <path
              d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22
              1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01
              1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415
              1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309
              0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007
              2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4
              31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007
              2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788
              99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
          </svg>
        </a>
      </li>
      <!-- Instagram -->
      <li class="list-inline-item mx-3">
        <a (click)='analyticsService.sendAnalyticEvent("click_instagram", "footer", "instagram")'
           href="https://instagram.com/mikailcayoglu/" target="_blank" aria-label="Instagram Profile">
          <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <title>Instagram</title>
            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
          </svg>
        </a>
      </li>
      <!-- GitHub -->
      <li class="list-inline-item mx-3">
        <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")'
           href="https://github.com/Raichuu41" target='_blank' aria-label="GitHub Profile">
          <svg fill="none" role="img" stroke="currentColor" stroke-linecap="round"
               stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <title>GitHub</title>
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0
              20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0
              0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
          </svg>
        </a>
      </li>
      <!-- LinkedIn -->
      <li class="list-inline-item mx-3">
        <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")'
           href="https://linkedin.com/in/mikail-deniz-cayoglu/" target='_blank' aria-label="LinkedIn Profile">
          <svg fill="none" role="img" stroke="currentColor" stroke-linecap="round"
               stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <title>LinkedIn</title>
            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
            <rect height="12" width="4" x="2" y="9"></rect>
            <circle cx="4" cy="4" r="2"></circle>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
