@import "./../../../../variables.scss";


.jobs .jobs-tabs {
  .tab-content {
    margin-left: 38px;
  }

  a.active {
    background-color: $LightNavy !important;
    color: $Green !important;
  }

  a:hover {
    background-color: $LightNavy;
    color: $Green;
  }

  a {
    cursor: pointer;
    align-items: center;
    height: 42px;
    padding: 0 20px 2px;
    white-space: nowrap;
    font-family: $CodeFont;
    font-size: 13px;
    color: $Slate;
  }

  .companies {
    border-left: 2px solid $LightNavy;
  }
}

.jobs {

  .title-tab-content {
    color: $LightestSlate;
    font-size: 22px;
    margin-bottom: 5px;

    .company-tab-content {
      color: $Green;
    }
  }

  .job-time {
    font-family: $CodeFont;
    font-size: 13px;
    color: $LightSlate;
    margin-bottom: 30px;
  }

  .job-description {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 18px;

    &:before {
      content: '▹';
      position: absolute;
      left: 0;
      color: $Green;
    }
  }
}

// Laptop size
@media (max-width: 1023px) {
  .jobs-tabs {
    display: block !important;

    .tab-content {
      margin-left: 0 !important;
    }

    .nav-pills {
      display: block;
      width: 100% !important;
      margin-bottom: 30px !important;
    }
  }
}
